body,
html {
    height: 100%;
    margin: 0;
}
body,
html {
    height: 100%;
    margin: 0;
}
.wrapper {
    min-height: 100%;
}
.right {
    background-image: url("../img/conffeti.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: green;
    padding-bottom: 80px;
    margin-bottom: 60px;
    font-size: 36px;
    font-weight: 700;
    margin-top: 0px;
    min-height: 500px;
}
.wrong {
    text-align: center;
    color: red;
    padding-bottom: 80px;
    margin-top: 30px;
    margin-bottom: 60px;
    font-size: 36px;
    font-weight: 700;
}
#message {
    padding-top: 200px;
    padding-bottom: 80px;
}
#back {
    /* text-align: left; */
    font-size: 14px;
    font-weight: 100;
    color: #272626;
}
#naslov {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 60px;
    color: #18314a;
    font-size: 36px;
    font-weight: 700;
}
#prestolnica {
    max-width: 100%;
    width: auto;
}