<!DOCTYPE html>
<html lang="en" dir="ltr">
    <link
        rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="assets/js/jquery-3.2.1.slim.min.js"></script>
    <script src="assets/js/bootstrap.js"></script>
    <link href="assets/css/styles.css" rel="stylesheet">

    <head>
        <meta charset="utf-8">
        <title>
            {% block title %}{% endblock title %}
        </title>
    </head>

    <body>
        <div class="wrapper">


            {% block specifika %}{% endblock specifika %}

        </div>
    <script type="text/javascript">

    // Select all text area on click //
        $("#dna").click(function(){
            $(this).select();
            document.execCommand('copy');
        });
    
    // Copy all text in text area to clipboard //
        $("#clipboard").click(function () {
            $("#dna").select();
            document.execCommand('copy');
        });
    </script>
    </body>