{% extends "base.html" %}

{% block title %}Ugani glavno mesto{% endblock title %}

{% block specifika %}
    <div class="container-fluid" id="ponudba">
        <div class="container">
            <div class="row">
                <div class="col-12" id="naslov">
                    {{ message }}
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <a href="/">Nazaj <<</a>
                </div>
            </div>
        </div>
    </div>
    <div class="push"></div>
</div>

{% endblock specifika %}