{% extends "base.html" %}

{% block title %}Frizerstvo Mirko{% endblock title %}

{% block specifika %}
            <div class="container-fluid" id="ponudba">
                <div class="container">
                    <div class="row">
                        <div class="col-12" id="naslov">
                            Kaj nudimo?
                        </div>
                        <div class="col-4">
                            <div class="row" id="storitev-1">
                                <div class="storitev-naslov">
                                    Striženje
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur quis
                                    tortor tincidunt, mollis nibh vitae, convallis quam. Cras sit amet vestibulum
                                    nisi. Suspendisse mattis nibh non laoreet suscipit. Vestibulum sit amet diam
                                    nulla. Donec finibus ornare tincidunt. Integer sollicitudin mollis enim. Nam in
                                    feugiat ligula, sed porttitor diam.</p>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="row" id="storitev-1">
                                <div class="storitev-naslov">
                                    Barvanje
                                </div>
                                <p>Ut a velit mattis, vulputate lacus ac, egestas tortor. Curabitur ut venenatis
                                    lectus. Suspendisse nisl metus, porttitor sit amet felis vel, ornare mollis mi.
                                    Praesent viverra erat at massa scelerisque, a cursus nibh pharetra. Aliquam
                                    accumsan laoreet eros auctor fermentum. Duis pulvinar nulla eget mauris
                                    vestibulum dictum. Morbi et bibendum mauris.
                                </p>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="row" id="storitev-1">
                                <div class="storitev-naslov">
                                    Nega
                                </div>
                                <p>Nunc posuere, odio pharetra molestie convallis, mi risus dignissim tortor, ac
                                    porttitor tortor elit in odio. Aenean eget sapien non neque tincidunt semper et
                                    ac lectus. Aliquam id erat magna. Donec sagittis id massa sed ornare. Mauris
                                    varius dolor eu orci consequat tempus sed eget dolor. Vivamus pulvinar dolor.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="push"></div>
        </div>
{% endblock specifika %}